* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: white;
  background: #d32f2f;
}

::selection {
  color: white;
  background: #d32f2f;
}

html {
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  fill: #ffffff;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

nav .nav-items {
  /* container to make nav centered and keep width of 80%; could've done that with paddings but who cares */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width: 430px) {
  nav .nav-items {
    width: 90%;
    font-size: 14px;
  }
}

nav .nav-items ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
}

@media screen and (max-width: 900px) {
  nav .nav-items ul {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  nav .nav-items ul {
    display: none;
  }
}

nav .nav-items ul li a {
  text-decoration: none;
  margin: 0 20px;
  color: #ffffff;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  -webkit-transition: border-bottom .25s ease;
  transition: border-bottom .25s ease;
}

nav .nav-items ul li a:hover {
  border-bottom: 2px solid #d32f2f;
}

nav .nav-items ul li:nth-last-of-type(1) {
  /* remove margin on the last element of nav */
}

nav .nav-items ul li:nth-last-of-type(1) a {
  margin-right: 0;
  /* remove margin on the last element of nav */
}

nav .nav-items .burger {
  display: none;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  nav .nav-items .burger {
    display: block;
  }
}

@media screen and (max-width: 430px) {
  nav .nav-items .burger {
    display: block;
  }
}

nav .nav-items .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  letter-spacing: 0px;
}

nav .nav-items .logo a svg {
  height: 30px;
  -webkit-transition: fill .25s ease;
  transition: fill .25s ease;
  margin-right: 15px;
}

@media screen and (max-width: 430px) {
  nav .nav-items .logo a svg {
    height: 25px;
  }
}

nav .nav-items .logo a p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}

@media screen and (max-width: 430px) {
  nav .nav-items .logo a p {
    font-size: 14px;
  }
}

header {
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
}

header::after {
  content: " ";
  background: url("blob-haikeia.svg");
  background-repeat: no-repeat;
  background-position: 60% 40%;
  background-size: 700px 600px;
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1380px) {
  header::after {
    background-size: 500px 600px;
    background-position: 40% 40%;
  }
}

@media screen and (max-width: 430px) {
  header::after {
    background: none;
  }
}

header .hero-cont {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.33)), color-stop(50%, rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.69)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0.06) 50%, rgba(0, 0, 0, 0.69) 100%);
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 15%;
  position: relative;
}

@media screen and (max-width: 430px) {
  header .hero-cont {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.33)), color-stop(50%, rgba(0, 0, 0, 0.51)), to(rgba(0, 0, 0, 0.69)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0.51) 50%, rgba(0, 0, 0, 0.69) 100%);
    padding: 0 10%;
  }
}

header .hero-cont .left {
  width: 100%;
  height: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  z-index: 2;
}

@media screen and (max-width: 430px) {
  header .hero-cont .left {
    height: 100%;
  }
}

header .hero-cont .left .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 0px;
}

header .hero-cont .left .title h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 65px;
  font-weight: 500;
}

@media screen and (max-width: 1380px) {
  header .hero-cont .left .title h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 430px) {
  header .hero-cont .left .title h1 {
    font-size: 40px;
  }
}

header .hero-cont .left .title svg {
  margin-right: 10px;
  height: 45px;
  fill: #ffffff;
}

header .hero-cont .left p {
  font-size: 22px;
  font-weight: 300;
}

@media screen and (max-width: 1380px) {
  header .hero-cont .left p {
    font-size: 20px;
  }
}

@media screen and (max-width: 430px) {
  header .hero-cont .left p {
    font-size: 16px;
  }
}

header .hero-cont .left .buttons {
  margin-top: 25px;
}

@media screen and (max-width: 430px) {
  header .hero-cont .left .buttons {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1380px) {
  header .hero-cont .left .buttons .button {
    padding: 12px 27px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

header .hero-cont .left .buttons a {
  font-size: 16px;
}

@media screen and (max-width: 1380px) {
  header .hero-cont .left .buttons a {
    font-size: 14px;
  }
}

header .hero-cont .left .buttons a:nth-of-type(2) {
  margin-left: 15px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-color: #d32f2f;
  -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.733);
          box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.733);
}

@media screen and (max-width: 430px) {
  header .hero-cont .left .buttons a:nth-of-type(2) {
    margin-left: 0;
    margin-top: 25px;
  }
}

header .hero-cont .left .buttons a:nth-of-type(2):hover {
  background-color: #ffffff;
  color: #d32f2f;
  -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.733);
          box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.733);
}

header .hero-cont .left .buttons a:nth-of-type(1) {
  background-color: white;
  color: black;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.733);
          box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.733);
}

header .hero-cont .left .buttons a:nth-of-type(1):hover {
  background-color: #3f3f3f;
  color: #ffffff;
}

header .hero-cont .right {
  width: 100%;
  height: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

@media screen and (max-width: 430px) {
  header .hero-cont .right {
    display: none;
  }
}

header .hero-cont .right .mockups-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .hero-cont .right .mockups-cont img {
  width: 225px;
  pointer-events: none;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.541);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.541);
}

header .hero-cont .right .mockups-cont img:nth-of-type(2) {
  width: 175px;
  z-index: 8;
  pointer-events: none;
  -webkit-transform: translate(-10%, 0) rotate(6deg);
          transform: translate(-10%, 0) rotate(6deg);
  -webkit-animation: bounce1 5s 0.5s ease-in-out infinite;
          animation: bounce1 5s 0.5s ease-in-out infinite;
}

@-webkit-keyframes bounce1 {
  0% {
    -webkit-transform: translate(-10%, 2px) rotate(6deg);
            transform: translate(-10%, 2px) rotate(6deg);
  }
  50% {
    -webkit-transform: translate(-10%, -2px) rotate(6deg);
            transform: translate(-10%, -2px) rotate(6deg);
  }
  100% {
    -webkit-transform: translate(-10%, 2px) rotate(6deg);
            transform: translate(-10%, 2px) rotate(6deg);
  }
}

@keyframes bounce1 {
  0% {
    -webkit-transform: translate(-10%, 2px) rotate(6deg);
            transform: translate(-10%, 2px) rotate(6deg);
  }
  50% {
    -webkit-transform: translate(-10%, -2px) rotate(6deg);
            transform: translate(-10%, -2px) rotate(6deg);
  }
  100% {
    -webkit-transform: translate(-10%, 2px) rotate(6deg);
            transform: translate(-10%, 2px) rotate(6deg);
  }
}

@media screen and (max-width: 1380px) {
  header .hero-cont .right .mockups-cont img:nth-of-type(2) {
    width: 125px;
  }
}

@media screen and (max-width: 430px) {
  header .hero-cont .right .mockups-cont img:nth-of-type(2) {
    display: none;
  }
}

header .hero-cont .right .mockups-cont img:nth-of-type(1) {
  z-index: 9;
  pointer-events: none;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  -webkit-animation: bounce2 5s ease-in-out infinite;
          animation: bounce2 5s ease-in-out infinite;
}

@media screen and (max-width: 1380px) {
  header .hero-cont .right .mockups-cont img:nth-of-type(1) {
    width: 205px;
  }
}

@media screen and (max-width: 430px) {
  header .hero-cont .right .mockups-cont img:nth-of-type(1) {
    display: none;
  }
}

@-webkit-keyframes bounce2 {
  0% {
    -webkit-transform: rotate(-2deg) translateY(2px);
            transform: rotate(-2deg) translateY(2px);
  }
  50% {
    -webkit-transform: rotate(-2deg) translateY(-2px);
            transform: rotate(-2deg) translateY(-2px);
  }
  100% {
    -webkit-transform: rotate(-2deg) translateY(2px);
            transform: rotate(-2deg) translateY(2px);
  }
}

@keyframes bounce2 {
  0% {
    -webkit-transform: rotate(-2deg) translateY(2px);
            transform: rotate(-2deg) translateY(2px);
  }
  50% {
    -webkit-transform: rotate(-2deg) translateY(-2px);
            transform: rotate(-2deg) translateY(-2px);
  }
  100% {
    -webkit-transform: rotate(-2deg) translateY(2px);
            transform: rotate(-2deg) translateY(2px);
  }
}

header .scroll-down {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .scroll-down a {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 10%;
  text-decoration: none;
  z-index: 10;
  opacity: 1;
}

@media screen and (max-width: 1380px) {
  header .scroll-down a {
    bottom: 7%;
  }
}

header .scroll-down a svg {
  width: 25px;
}

header .scroll-down a svg path {
  fill: #ffffff;
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.wave1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  z-index: 3;
}

.wave2 {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.wave-3 {
  width: 100%;
  background: #080808;
}

.wave-3 svg {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  fill: #161616;
}

.wave-4 {
  width: 100%;
  background: #080808;
  position: absolute;
  bottom: 0;
}

.wave-4 svg {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  fill: #161616;
}

.cont .cont-clip {
  width: 80%;
  margin: 0 auto;
}

.cont .c1 {
  width: 100%;
  padding: 10vh 0;
  padding-bottom: 0;
  min-height: 150vh;
  background-color: #161616;
  position: relative;
}

.cont .c1 .cont-clip .title {
  width: 100%;
}

.cont .c1 .cont-clip .title h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  margin-top: 20px;
  font-size: 35px;
  color: #dadada;
  font-family: 'Poppins', sans-serif;
  border-bottom: 4px solid #d32f2f;
}

.cont .c1 .cont-clip .functions {
  width: 100%;
  padding: 10vh 0;
}

.cont .c1 .cont-clip .functions .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10vh auto;
  overflow: unset;
}

.cont .c1 .cont-clip .functions .row .item {
  width: 87.5%;
  margin: 0 auto;
  color: #dadada;
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

@media screen and (max-width: 430px) {
  .cont .c1 .cont-clip .functions .row .item {
    width: 100%;
  }
}

.cont .c1 .cont-clip .functions .row .item img {
  width: 275px;
  pointer-events: none;
  z-index: 2;
}

@media screen and (max-width: 1380px) {
  .cont .c1 .cont-clip .functions .row .item img {
    width: 225px;
  }
}

@media screen and (max-width: 430px) {
  .cont .c1 .cont-clip .functions .row .item img {
    display: none;
  }
}

.cont .c1 .cont-clip .functions .row .item .desc {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 430px) {
  .cont .c1 .cont-clip .functions .row .item .desc {
    width: 90%;
  }
}

.cont .c1 .cont-clip .functions .row .item .desc .desc-title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 30px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1380px) {
  .cont .c1 .cont-clip .functions .row .item .desc .desc-title {
    font-size: 27px;
  }
}

@media screen and (max-width: 430px) {
  .cont .c1 .cont-clip .functions .row .item .desc .desc-title {
    font-size: 22px;
  }
}

.cont .c1 .cont-clip .functions .row .item .desc .desc-desc {
  line-height: 30px;
  color: #999999;
  font-size: 16px;
}

@media screen and (max-width: 1380px) {
  .cont .c1 .cont-clip .functions .row .item .desc .desc-desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 430px) {
  .cont .c1 .cont-clip .functions .row .item .desc .desc-desc {
    font-size: 12px;
    line-height: 22px;
  }
}

.cont .c1 .cont-clip .functions .row svg {
  position: absolute;
  right: 0;
  width: 450px;
  z-index: 0;
  margin: auto 0;
}

@media screen and (max-width: 1380px) {
  .cont .c1 .cont-clip .functions .row svg {
    width: 350px;
  }
}

@media screen and (max-width: 430px) {
  .cont .c1 .cont-clip .functions .row svg {
    display: none;
  }
}

.cont .c1 .cont-clip .functions .row svg path {
  fill: #d32f2f;
}

.cont .c1 .cont-clip .functions .right {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

@media screen and (max-width: 430px) {
  .cont .c1 .cont-clip .functions .right {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.cont .c1 .cont-clip .functions .right .item img {
  margin-left: 40px;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.cont .c1 .cont-clip .functions .right .item .desc .desc-title::before {
  content: "";
  border-left: 4px solid #ff5d5d;
  margin-right: 20px;
}

.cont .c1 .cont-clip .functions .right .item .desc .desc-desc {
  margin-left: 25px;
}

.cont .c1 .cont-clip .functions .right svg {
  right: 0;
}

.cont .c1 .cont-clip .functions .left {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

@media screen and (max-width: 430px) {
  .cont .c1 .cont-clip .functions .left {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

.cont .c1 .cont-clip .functions .left .item img {
  margin-right: 40px;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.cont .c1 .cont-clip .functions .left .item .desc .desc-title {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cont .c1 .cont-clip .functions .left .item .desc .desc-title::after {
  content: "";
  border-right: 4px solid #ff5d5d;
  margin-left: 20px;
}

.cont .c1 .cont-clip .functions .left .item .desc .desc-desc {
  margin-right: 20px;
  text-align: right;
}

.cont .c1 .cont-clip .functions .left svg {
  left: 0;
}

.cont .c1 .table-in {
  padding: 30vh 0;
  padding-bottom: 0;
  background: #222222;
}

.cont .c1 .table-in .table-split-1 {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.cont .c1 .table-in .functions-table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 10vh 10% 20vh 10%;
  background: #222222;
}

.cont .c1 .table-in .functions-table .active::after {
  content: "\2212";
}

.cont .c1 .table-in .functions-table .title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 20px;
  margin-bottom: 10vh;
  font-size: 35px;
  font-weight: 600;
  color: #dadada;
  font-family: 'Poppins', sans-serif;
  border-bottom: 4px solid #d32f2f;
}

.cont .c1 .table-in .functions-table table {
  display: table;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #161616;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}

.cont .c1 .table-in .functions-table table tr th {
  padding: 25px 15px;
  background-color: rgba(211, 47, 47, 0.301);
  font-weight: 600;
}

.cont .c1 .table-in .functions-table table tr th:last-of-type {
  background-color: #9c2525;
  color: white;
}

.cont .c1 .table-in .functions-table table tr td {
  padding: 15px 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.151);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.cont .c1 .table-in .functions-table table tr td:last-of-type {
  background-color: #d32f2f;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.274);
}

.cont .c1 .table-in .functions-table table tr td:first-of-type {
  background: rgba(255, 255, 255, 0.021);
}

.cont .c1 .table-in .functions-table table tr td:nth-child(3) {
  background: rgba(255, 255, 255, 0.021);
}

.cont .c1 .table-in .functions-table table tr td svg {
  width: 16px;
  height: 16px;
}

.cont .c1 .table-in .functions-table table tr td svg path {
  fill: white;
}

.cont .c1 .table-in .functions-table table tbody tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.021);
}

.cont .c1 .table-in .functions-table .table-cont {
  width: 87.5%;
  border-radius: 40px;
  margin: 0 auto;
}

.cont .c2 {
  padding-top: 20vh;
  min-height: 90vh;
  width: 100%;
  background-color: #080808;
}

.cont .c2 .cont-clip {
  padding: 10vh 0;
}

.cont .c2 .cont-clip .title {
  width: 100%;
}

.cont .c2 .cont-clip .title h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  margin-top: 20px;
  font-size: 35px;
  color: #dadada;
  font-family: 'Poppins', sans-serif;
  border-bottom: 4px solid #d32f2f;
}

.cont .c2 .cont-clip .downloads {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10vh 10vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont .c2 .cont-clip .downloads .download-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont .c2 .cont-clip .downloads .download-links a {
  margin: 15px 0;
}

.cont .c2 .cont-clip .downloads .download-links a img {
  width: 300px;
}

@media screen and (max-width: 1380px) {
  .cont .c2 .cont-clip .downloads .download-links a img {
    width: 250px;
  }
}

.cont .c2 .cont-clip .downloads .download-links .github {
  background: black;
  border: 1px solid white;
  border-radius: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px 15px;
  padding-right: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 300px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

@media screen and (max-width: 1380px) {
  .cont .c2 .cont-clip .downloads .download-links .github {
    width: 250px;
    height: 74px;
  }
}

.cont .c2 .cont-clip .downloads .download-links .github .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont .c2 .cont-clip .downloads .download-links .github .texts .title {
  font-weight: 600;
  font-size: 23px;
}

@media screen and (max-width: 1380px) {
  .cont .c2 .cont-clip .downloads .download-links .github .texts .title {
    font-size: 18px;
  }
}

.cont .c2 .cont-clip .downloads .download-links .github .texts .release-download {
  font-size: 14px;
}

@media screen and (max-width: 1380px) {
  .cont .c2 .cont-clip .downloads .download-links .github .texts .release-download {
    font-size: 14px;
  }
}

.cont .c2 .cont-clip .downloads .download-links .github svg {
  margin-right: 30px;
  height: 80%;
}

@media screen and (max-width: 1380px) {
  .cont .c2 .cont-clip .downloads .download-links .github svg {
    margin-right: 15px;
  }
}

.cont .c2 .cont-clip .downloads .download-links .github svg path {
  fill: white;
}

.cont .c2 .cont-clip .downloads .phone-mock img {
  position: relative;
  width: 500px;
  pointer-events: none;
  z-index: 1;
}

@media screen and (max-width: 1380px) {
  .cont .c2 .cont-clip .downloads .phone-mock img {
    width: 400px;
  }
}

@media screen and (max-width: 430px) {
  .cont .c2 .cont-clip .downloads .phone-mock img {
    display: none;
  }
}

.cont .c3 {
  position: relative;
  min-height: 90vh;
  width: 100%;
  background-color: #161616;
}

.cont .c3 .cont-clip {
  padding: 10vh 0;
}

.cont .c3 .cont-clip .title {
  width: 100%;
}

.cont .c3 .cont-clip .title h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  margin-top: 20px;
  font-size: 35px;
  color: #dadada;
  font-family: 'Poppins', sans-serif;
  border-bottom: 4px solid #d32f2f;
}

.cont .c3 .cont-clip .cont-center {
  width: 50%;
  margin: 0 auto;
  padding: 10vh 0;
  padding-bottom: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 430px) {
  .cont .c3 .cont-clip .cont-center {
    width: 90%;
  }
}

.cont .c3 .cont-clip .cont-center form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.cont .c3 .cont-clip .cont-center form .label {
  margin: 10px 0;
  margin-left: 10px;
  font-size: 18px;
}

.cont .c3 .cont-clip .cont-center form .input-1 {
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  background: transparent;
  color: #c9c9c9;
}

.cont .c3 .cont-clip .cont-center form .textarea-1 {
  border: 1px solid #c9c9c9;
  color: #c9c9c9;
  background: transparent;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.cont .c3 .cont-clip .cont-center form .submit-1 {
  border-radius: 10px;
  padding: 12px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: #d32f2f;
  color: #ffffff;
  border: none;
  -webkit-transition: color .2s ease, background .2s ease, border .2s ease;
  transition: color .2s ease, background .2s ease, border .2s ease;
  -webkit-box-shadow: 0px 0px 44px -15px #d32f2f;
          box-shadow: 0px 0px 44px -15px #d32f2f;
  cursor: pointer;
}

.cont .c3 .cont-clip .cont-center form .submit-1:hover {
  background: #c9c9c9;
  color: black;
}

.cont .c3 .cont-clip .cont-center form .submit-1:active {
  color: #d32f2f;
  background: white;
}

footer {
  background: #080808;
  padding: 5vh 10%;
  padding-bottom: 3vh;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 430px) {
  footer {
    padding: 5vh 5%;
  }
}

footer .footer__links--cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 430px) {
  footer .footer__links--cont {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 10vh;
    max-width: 80%;
    margin: 0 auto;
  }
}

footer .footer__links--cont a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #919191;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

footer .footer__links--cont a:hover .icon, footer .footer__links--cont a:hover {
  color: white;
  fill: white;
}

@media screen and (max-width: 430px) {
  footer .footer__links--cont a {
    margin-bottom: 40px;
  }
  footer .footer__links--cont a:nth-last-of-type(1) {
    margin-bottom: 0;
  }
}

footer .footer__links--cont .icon {
  width: 50px;
  fill: #919191;
  margin-right: 10px;
  -webkit-transition: color .2s ease, fill .2s ease;
  transition: color .2s ease, fill .2s ease;
}

footer .footer__links--cont .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__links--cont .text .title {
  font-weight: 600;
  font-size: 20px;
}

footer .footer__links--cont .text .link {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 16px;
}

footer .footer__copyrights--cont {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 430px) {
  footer .footer__copyrights--cont {
    font-size: 12px;
  }
}

footer .footer__copyrights--cont--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 430px) {
  footer .footer__copyrights--cont--left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer__copyrights--cont--left .copyright {
  color: #525252;
}

footer .footer__copyrights--cont--left .copyright .spacer {
  margin: 0 15px;
  display: block;
}

@media screen and (max-width: 430px) {
  footer .footer__copyrights--cont--left .copyright .spacer {
    display: none;
  }
}

footer .footer__copyrights--cont--left .privacy-policy a {
  color: #6d6d6d;
  text-decoration: none;
  text-transform: uppercase;
}

footer .footer__copyrights--cont--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #525252;
  text-align: right;
}

footer .footer__copyrights--cont--right a {
  text-decoration: none;
  color: #525252;
  font-weight: 600;
  text-align: right;
}

footer .footer__copyrights--cont--right .empty {
  display: none;
}

@media screen and (max-width: 430px) {
  footer .footer__copyrights--cont--right .empty {
    display: none;
  }
}

.button, button {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-color: #d32f2f;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}

.button:hover, .button:active, button:hover, button:active {
  background: #ff4242;
}
/*# sourceMappingURL=style.css.map */